<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>play exquisite corpse</title>  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai+2|Cormorant+Infant|Poppins|Secular+One&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="stylesheet" href="assets/css/styles.css">
        <script src="https://code.jquery.com/jquery.js"></script>
                   
  </head>
<body>
  <div class="container">
  <div class="row topRow">
    <div class="col s8">
      <h1><a href="/">exquisite corpse</a></h1>
    </div>
    <div class="col s2">
      <h2 class="right-align">
        <a href="read">read stories</a>
      </h2>
    </div>
    <div class="col s2">
      <h2 class="right-align">
        <a href="write">play!</a>
      </h2>
    </div>    
  </div>
  <div class="row">
    <div class="col s12 center">
       
        {{{ body }}}
         {{!-- <a id="start" href="write">start</a> --}}
      
    </div>   
  </div> 
  
  <script src="assets/js/script.js"></script>
</body>
</html>
