<div class="col l6 m8 s12 center">
  <div class="mainRed">
    <p>Exquisite Corpse is originally a drawing game created by surrealist artists in the 1920s. In this game, a drawing of a body was broken down into three sections: a head, torso, and legs. Each was kept a surprise from the next person, resulting in some outrageous combinations.</p>
    <p>In this version, instead of drawing, we are going to write.</p>
  </div>
</div>
<div class="col l6 m8 s12 center">
  <div class="mainYellow">
    <p>Create the "head" for your corpse by writing the beginning of your story. Leave it open for the next person to continue unless you are writing the last section of the story.</p>
    <p>Take turns writing until all different people have participated and we have a "torso" and "legs".</p>
    <p>Appreciate your collaborative artwork</p>    
  </div>
</div> 

