<div class="container">
  <div class="row">
    <div class="col s6">
      <h2>exquisite corpse</h2>
    </div>
    <div class="col s6">
      <h2>placeholder for menu icons</h2>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <div id="main"> 
        <h2 id="header">but... what is this?</h2>
        {{!-- still need to figure out how to display this. there's too much text. --}}
        <p>Exquisite Corpse is originally a drawing game created by surrealist artists in the 1920s. In this game, a drawing of a body was broken down into three sections: a head, torso, and legs. Each was kept a surprise from the next person, resulting in some outrageous combinations.</p>
        <p>In this version, instead of drawing, we are going to write.</p>
        <p>Create the "head" for your corpse by writing the beginning of your story. Leave it open for the next person to continue unless you are writing the last section of the story.</p>
        <p>Take turns writing until all different people have participated and we have a "torso" and "legs".</p>
        <p>Appreciate your collaborative artwork 😊</p>        
      </div>
    </div>
  </div>   
</div>