<div class="col s12 center">
  <div class="main">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid vero adipisci quasi architecto commodi similique eligendi labore numquam officia quo quas corporis totam reprehenderit fuga sunt ad, nam deleniti velit!</p>
        
  </div>
</div>
 

<script src="assets/js/read.js"></script>