<div class="container valign-wrapper">
  <div class="row">
    <div class="card-panel">
      {{!-- We'll need to write code that pulls only the last sentence. I'm not sure if thats front or backend territory. Either way I think spliting or periods might work.--}}
      <p id="lastEntry">{{this.id}}</p>
    </div>
    <div class="card-panel">
      <div class="input-field">
          <textarea id="entry" class="materialize-textarea" data-length="120"></textarea>
          <label for="entry"></label>
      </div>
      <div class="input-field">
          <textarea id="author" class="materialize-textarea" data-length="20"></textarea>
          <label for="author"></label>
      </div>
      <button id="submit" class="btn" type="submit">Save!</button>
    </div>
  </div>
</div>

<script src="assets/js/write.js"></script>