<div class="container">
  <div class="row">
    <div class="">
      <form id="entryForm">
        <input id="addEntry" class="" type="text">
        <button id="submit" class="btn waves-orange" type="submit">Save!</button>
      </form>      
    </div>
  </div>
</div>