<div class="container valign-wrapper">
  <div class="row">
    <div class="card-panel">
      {{!-- We'll need to write code that pulls only the last sentence. I'm not sure if thats front or backend territory. Either way I think spliting or periods might work.--}}
      <p id="lastEntry">{{this.id}}</p>
    </div>
    <div class="card-panel">
      <form id="entryForm">
        <input id="addEntry" class="" type="text">
        <button id="submit" class="btn waves-orange" type="submit">Save!</button>
      </form>      
    </div>
  </div>
</div>