<div class="row">
  <div class="col s12 m10 l6">
    {{!-- Entry Panel --}}
    {{!-- We'll need to write code that pulls only the last sentence. I'm not sure if thats front or backend territory. Either way I think spliting or periods might work.--}}
    <div class="mainYellow card-panel">
      <h2 class="cardHeader">continue a story...</h2>
      <p id="lastEntry" data-id={{idOfLastSentence.0.storyId}}>{{lastSentence.0.text}}</p>
      <div class="input-field">
          <textarea id="entry" class="materialize-textarea" data-length="420"></textarea>
          <label for="entry">what happened next?</label>
      </div>
      <div class="input-field">
          <textarea id="entryAuthor" class="materialize-textarea" data-length="20"></textarea>
          <label id="x" for="entryAuthor">your pen name</label>
      </div>
      <button id="continueSubmit" class="btn-flat waves-effect waves-red" type="submit"><span id="btnText">save!</span></button>
      <button id="wordRandomizer" class="btn-flat waves-effect waves-yellow"><span id="btnText">give me ideas!</span></button>
    </div>
  </div>
  <div class="col s12 m10 l6">
    {{!-- Story Panel --}}
    <div class="mainGreen card-panel">
      <h2 class="cardHeader">...or create a story!</h2>
      <div class="input-field">
          <textarea id="story" class="materialize-textarea" data-length="420"></textarea>
          <label for="story">get those fingers moving!</label>
      </div>
      <div class="input-field">
          <textarea id="storyAuthor" class="materialize-textarea" data-length="20"></textarea>
          <label for="storyAuthor">your pen name</label>
      </div>
      <button id="createSubmit" class="btn-flat waves-effect waves-red" type="submit"><span id="btnText">save!</span></button>
      <button id="wordRandomizer" class="btn-flat waves-effect waves-yellow"><span id="btnText">give me ideas!</span></button>
    </div>
  </div>
</div>


<script src="assets/js/write.js"></script>