 /* green: #99B898 yellow: #FECEA8*  orange: #FF847C  red: #E84A5F */
 /* font-family: 'Secular One', sans-serif; 
 font-family: 'Cormorant Infant', serif; 
 font-family: 'Poppins', sans-serif; 
 font-family: 'Baloo Bhai 2', cursive; */
h1, 
.header {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
.cardHeader {
  font-family: 'Poppins', sans-serif;
  color: #2A363B;
  font-size: 30px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  margin: 0;
}

.topRow {
  margin-top: 5px;  
  padding-top: 15px;
  padding-bottom: 5px;  
}

a {
  color: #2A363B;
}
.icon {
  font-size: 1em; 
  color: #2A363B;
}
p {
  font-family: 'Baloo Bhai 2';
  color: #2A363B;
  font-size: 16px;
  margin: 0;
  padding: 5px;
}

body {
  background-color:rgb(253, 250, 250);
}

.mainRed,
.mainYellow,
.mainGreen {
  margin-top: 15px;
  padding: 20px;
  background-color: rgb(253, 250, 250);
  border-style: solid;
  border-width: 4px;  
  border-radius: 12px;
}
.mainRed {
  border-color:#E84A5F; 
}

.mainYellow {
  border-color:#FECEA8; 
}

.mainGreen {
  border-color:#99B898;  
}

/* start id not being used yet 3-17-2020 8 pm  */
#start {
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  color: #2A363B;
  font-size: 60px;
}

.container {
  height: 100vh;
}

#wordRandomizer {
  float: right !important;
}

#btnText {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: normal !important;
  text-transform: lowercase !important;
}
/* #storyAuthor, #entryAuthor {
  width: 200px;
} */
/* 
.btn {
  background-color: #2A363B;
} */

/* label focus color */
.input-field input[type=story] + label, .materialize-textarea:focus:not([readonly]) + label, .input-field input[type=entry] + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #2A363B !important;
 }

/* label underline focus color */
.input-field input[type=storyAuthor], .materialize-textarea:focus:not([readonly]), .input-field input[type=entryAuthor], .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2A363B !important;
  box-shadow: 0 1px 0 0 #2A363B !important;
 }